/* =============
    Base
============= */

body{
    background-color: $white;

    @include lg{
        background-color: $black;
    }
}
.container{
    display:grid;
    grid-template-columns: 17px auto 17px ;
    grid-template-areas: 
    ". content ."
    ;
    .content{
        grid-area:content;

    }
}