/* =============
    Divider
============= */


.divider{

    .content{
        display:grid;
        grid-template-columns: 100%;
        gap: 15px;

        @include md{
            grid-template-columns: 50% auto;
        }

        .sub-content{
            background-color: $lightsage;
            color: white;
            display:grid;
            padding: 15px;
            line-height: 26px;
            grid-template-columns: 50% 50%;
            grid-template-areas:
            "h2 image"
            "button image"
            ;
        }

        h2{
            grid-area: h2;
            font-family: 'Work Sans';
            font-weight: 400;
            font-size: 22px;
            margin-left: 17px;

            @include md{
                font-size: 24px;
            }

            @include lg{
                font-size: 26px;
            }

            @include xl{
                font-size: 31px;
            }
        }

        button{
            color: $forestgreen;
            background-color: $lightpeach;
            padding: 1px;
            width: 140px;
            border: none;
            font-family: "Work Sans";
            font-weight: 500;
            font-size: 16px;
            margin: 15px;

        }

        img{
            grid-area: image;
            border-radius: 100px;
            margin-left: 80px;
        }
    } 
}

