/* =============
    Gallery
============= */

.gallery{

    display: flex;
    width: 100%;

    @include xl{
        grid-template-areas:
        "g1 g2"
        "g1 g3";
    }

            ul{
                list-style: none;
                padding-top: 30px;
                
                

                img{
                    width:100%;
                }

                @include md{
                    padding-top: 30px;
                }

                @include xl{
                        display: flex;
                        width: 100%;
                        grid-template-areas:
                        "g1 g2"
                        "g1 g3";
                    }

                .g1{

                    width:100%;

                    @include md{
                        margin: -20px;
                        transform: rotate(270deg);
                        width: 154%;
                    }

                    @include lg{
                        width: 103%;
                    }

                    @include xl{
                        width: 100%;
                        transform: rotate(360deg);
                        grid-template-areas:
                        "g1 g2"
                        "g1 g3";
                    }
                }

                .g2{
                    width: 100%;

                    @include md{
                        padding-right: 0px;

                    }
                    @include xl{
                        grid-template-areas:
                        "g1 g2"
                        "g1 g3";
                    }
                }

                .g3{
                    display: none;

                    @include xl{
                        display: flex;
                        align-items: center;
                        grid-template-areas:
                        "g1 g2"
                        "g1 g3";
                    }

                }

                @include md{
                    display: grid;
                    grid-template-columns: 50% auto;
                }

                @include lg{
                    grid-template-columns: 60% auto;
                }

                @include xl{
                    grid-template-areas:
                    "g1 g2"
                    "g1 g3";
                }
            
            }

}
