/* =============
    Gallery
============= */

.gallery{
    .container{
        .content{
            display: grid;

            ul{
                list-style: none;
                padding:0;

                .g1{
                    margin-top: 37px;
                }

                .g3{
                    display: none;
                }

                @include md{
                    display: grid;
                    grid-template-columns: 50% auto;
                }

                @include lg{
                    grid-template-columns: 60% auto
                }

                @include xl{
                    .g3{
                        display: block;
                    }
                    grid-template-areas:
                    "g1 g2"
                    "g1 g3";
                }

                li{
                    img{
                        width:100%;
                    }
                }


            }
        }   
    }
}
