/* =============
    Hero
============= */

.hero{


    img{
        width:100%;
        display: block;
    }

    .hero-content{
        display: grid;
        grid-template-columns: 100%;
        color: white;
    
        @include md{
            grid-template-columns: 50% auto;
        }
    }

    a{
        text-decoration: none;
        color: white;
        font-family: 'Work Sans';
        font-weight: 400;
        font-size: 14px;
        display: flex;
        padding: 17px;
        padding-bottom: 0px;
    }

    .sub-content-left{
        background-color: $darksage;
        padding: 20px;
        margin-bottom: 37px;
        

        @include xl{
            grid-template-columns: auto auto 16px;
        }

        h2{
            font-family: 'Playfair Display';
            font-weight: 600;
            font-size: 16px;
            letter-spacing: 0.75px;
            margin-bottom: 15px;
            
        }
            
        p{
            font-family: 'Work Sans';
            font-weight: 400;
            font-size: 14px;
            margin-bottom: 15px;
            
        }

    }
    .sub-content-right{
        background-color: $lightsage;
        padding: 20px;
        margin-bottom: 37px;

        @include xl{
            grid-template-columns: 16px auto auto;
        }
    }

    .arrow{
        width: 6px;
        margin-left: 10px;

        @include xl{
            width: 8px;
        }
    }

    p{
        font-family: 'Work Sans';
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 15px;
        
    }

    span{
        font-family: 'Playfair Display';
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0.75px;
        

    }
}
