/* =============
    Project
============= */


.project{
    .project-container{
        display:grid;
        grid-template-columns: 50% 50%;

        .project1{
            background-color: black;
        }

        .project2{
            background-color: red;
        }



       
    }
    
}

