/* =============
    Project
============= */


.project{
    .container{
        
        
        .content{
            grid-area:content;
            display:grid;
            // grid-template-columns: 17px auto 17px ;
            grid-template-areas: '. content .';
            background: #B7B7A5;
            box-shadow: 0px 1px 1px rgba(42, 48, 54, 0.296793);

            img {
                border-radius: 50%
            }

            a {
                background: #FAE4D3;
            }

        }
    }
    
}

