/* =============
    Checklist
============= */


.check-list{
    .container{
        display:grid;
        grid-template-columns: 17px auto 17px ;
        grid-template-areas: 
        ". content ."
        ;
        .content{
            grid-area:content;
    
        }
    }

}