/* =============
    Header
============= */

header{
    .content{
        text-align: center;
        background-color: #173726;

        img{
            display: block;
            margin: auto;
            width:37px;
        
           
        }
    }
}
