/* =============
    Header
============= */


.header{
    .container{
        .content{
            .img{
                display:grid;
                margin-left:45%;
                margin-right:45%;
                width:37px;

            }
        }
    }
}