/* =============
    Header
============= */

header{
    background-color: #173726;
    color: white;

        .content{
            
            .site-logo{
                display: block;
                padding-top: 15px;
                padding-bottom: 15px;
                width: 40px;
                margin-left:auto;
                margin-right: auto;
                margin-top: 10px;
                   

                @include md{
                display: inline-block;
                width: 43px;
                margin-left: 30px;
                margin-top: 1px;
                padding-bottom: 1px;
                }

                @include lg{
                width: 45px;
                margin-left: 45px;
                margin-top: 25px;
                }

                @include xl{
                width: 50px;
                margin-left: 45px;
                margin-top: 15px;
                }
            }

            h1{
                display: none;
                font-weight: 600;
                color: white;
                font-family: 'Playfair Display';
                letter-spacing: 0.5px;

                @include md{
                    display: inline-block;
                    font-size: 32px;
                    margin-left: -105px;
                    margin-top: 20px;
                    
                }

                @include lg{
                    font-size: 36px;
                    margin-top: 43px;

                }

                @include xl{
                    font-size: 40px;
                }
            }

            span{
                display: none;
                font-size: 10px;
                color: $lightpeach;
                font-family: 'Work Sans';
                font-weight: 400;
                letter-spacing: 0.3px;

                @include md{
                    display: block;
                    padding-top: 5px;

                }

                @include lg{
                    font-size: 12px;
                }

                @include xl{
                    font-size: 13px;
                }
            }
        }


       
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". header .";
            padding: 24px 0;
            width: 100%;
            background-color: $forestgreen;
        
        
            div{
                grid-area: header;
        
                display: grid;
                grid-template-columns: 50% auto;
                grid-template-areas: "logo burger";
        
                @include lg{
                    grid-template-areas: "logo nav";
        
                }
        
                .logo{
                    color: $blue;
                    font-size: 40px;
                }
        
                .burger-container{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    @include md{
                        display: none;
                    
                    }
        
                    @include lg{
                        display: none;
                    }
        
                    button{
                        border: none;
                        background-color: transparent;
                        color: $lightpeach;
                        font-size: 30px;
                        margin-top: -75px;
                        margin-right: -25px;
                        
        
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
            }
        
    }   
  

 

 